<h1 class="text-center">Customers</h1>

<nav class="navbar ">
    <a class="nav-link text-dark" routerLinkActive="active" [routerLink]="['cardview']"><i class="fas fa-th"></i> Card
        View</a>
    <a class="nav-link text-dark" routerLinkActive="active" [routerLink]="['listview']"><i class="fas fa-list"></i> List
        View</a>
    <a class="nav-link text-dark" routerLinkActive="active" href="#"><i class="fas fa-map-marker-alt"></i> Map View</a>
    <a class="nav-link text-dark" href="#" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i>
        New Customer</a>
    <form [formGroup]="formGroup" class="form-inline my-2">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="Search"
            formControlName="Search">
    </form>
</nav>
<!-- 
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2"
        aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav> -->


<!-- -------------CUSTOMERS------------- -->
<div>
    <router-outlet></router-outlet>
</div>

<!-- -------------PAGINATION------------- -->
<nav aria-label="...">
    <ul class="pagination">
        <li class="page-item disabled">
            <span class="page-link">Previous</span>
        </li>
        <li class="page-item active" aria-current="page">
            <span class="page-link">
                1
                <span class="sr-only">(current)</span>
            </span>
        </li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>



<!-- -------------MODAL------------- -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Customer nro: {{customers.length+1}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="text" placeholder='Name' name="name" class="form-control mb-2" [(ngModel)]="cust.name">
                    <input type="text" placeholder='City' name="address.city" [(ngModel)]="cust.address.city"
                        class="form-control mb-2">
                    <input type="text" placeholder='Street' name="address.street" [(ngModel)]="cust.address.street"
                        class="form-control">
                </form>
            </div>
            <div class="modal-footer">
                <button (click)='addCustomer()' type="submit" class="btn btn-outline-dark" data-dismiss="modal"
                    aria-label="Close">
                    Create
                </button>
            </div>
        </div>
    </div>
</div>