<div class="card">
    <div class="row no-gutters ">
        <div class="col-md-4 d-flex align-items-center">
            <img src="https://image.flaticon.com/icons/png/512/44/44948.png" class="card-img my-1" alt="...">
        </div>
        <div class="col-md-7 text-center">
            <div class="card-body">
                <a class="h5 card-title text-dark text-center" style="text-decoration:none"
                    [routerLink]="['/customers',i]">{{name}}</a>
                <h6 class="card-subtitle mb-2 text-muted">{{city}}</h6>
                <h6 class="card-subtitle mb-2 text-muted">{{street}}</h6>
                <a href="#" class="btn btn-dark">View Orders</a>
            </div>
        </div>
        <div class="col-md-1 mt-1">
            <i class="far fa-edit justify-content-end text-black-50"></i>
        </div>
    </div>
</div>