<div class="my-3">
    <h3>Customer Information</h3>

    <nav class="navbar justify-content-start">
        <a class="nav-link text-dark active" href="#"><i class="fas fa-list"></i> Customer Details</a>
        <a class="nav-link text-black-50" href="#"><i class="fas fa-list"></i> Customer Orders</a>
        <a class="nav-link text-black-50" href="#" data-toggle="modal" data-target="#exampleModal"><i class="far fa-edit"></i>
            Edit Customer</a>
    </nav>
    <div class="card">
        <div class="row no-gutters ">
            <div class="col-md-1 d-flex align-items-center">
                <img src="https://image.flaticon.com/icons/png/512/44/44948.png" class="card-img my-1" alt="...">
            </div>
            <div class="col-md-3 text-center">
                <div class="card-body">
                    <h6 class="card-title h5 text-dark text-center mb-2">{{cust.name}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{cust.address.city}}</h6>
                    <h6 class="card-subtitle mb-2 text-muted">{{cust.address.street}}</h6>
                    <a href="#" class="btn btn-dark">View Orders</a>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <h5 class="modal-title" id="exampleModalLabel">Editar: {{editarItem.name}}</h5> -->
                    <h5 class="modal-title" id="exampleModalLabel">Create Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)='modificar()'>
                        <input type="text" placeholder={{cust.name}} name="name" class="form-control mb-2" [(ngModel)]="cust.name">
                        <input type="text" placeholder={{cust.address.city}} name="address.city"
                            [(ngModel)]="cust.address.city" class="form-control mb-2">
                        <input type="text" placeholder={{cust.address.street}} name="address.street"
                            [(ngModel)]="cust.address.street" class="form-control">
                        <button class="btn btn-info" type="submit">Edit</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Close</button>
                </div>
            </div>
        </div>
    </div>



    <!-- <app-user-card [name]='user.name' [city]='user.address.city' [street]='user.address.street' [i]='user.id'>
    </app-user-card> -->
</div>